body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #25272B;
  color: whitesmoke;
}

#header {
  width: 400px;
  height: 1em;
  margin: 10px auto;
  background-color: #D3D3D4;
  font-size: 40px;
  font-weight: 500;
  color: #25272B;
  text-align: center;

}

#bookshelf {
  width: 75%;
  height: 90vh;
  margin: auto;
  background-color: #D3D3D4;
  padding: 10px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(8, 200px);
}

#addBook input {
  width: 100px;
  margin: 5px;
}

.book {
  margin: 10px;
  padding: 5px;
  background-color: #81a1c1;
  text-align: center;
  position: relative;
}

.book button {
  border: none;
  font-size: 16px;
  background-color: whitesmoke;
  margin-top: 15px;
}

#title {
  margin: 10px;
  font-size: 20px;
  background-color: #2e3440;
}

#pages {
  position: absolute;
  bottom: 0;
  right:0;
  margin: auto;
  width: 50%;
  background-color: whitesmoke;
  color: #2e3440;
}

@media screen and (min-width: 1920px) {
  #bookshelf {
    grid-template-columns: repeat(8, 150px);
    grid-template-rows: repeat(8, 200px);
  }
}

@media screen and (max-width: 960px) {
  #bookshelf {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(8, 200px);
  }
}

@media screen and (max-width: 480px) {
  #bookshelf {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(8, 200px);
  }
}